<a href="https://colab.research.google.com/github/Darkunquie/my-projects/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pf
my ={'cars':["BMW","AUDO","FERRai"],
     'passing': [1,4,6]}
var=pf.DataFrame(my)
print(var)
print(pandas.__version__)

     cars  passing
0     BMW        1
1    AUDO        4
2  FERRai        6
2.2.2

Pandas Series

A Pandas Series is like a column in a table.

It is a one-dimensional array holding data of any type.

In [3]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

In [4]:
print(myvar[0])

1

#Create Labels

With the index argument, you can name your own labels.

In [5]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [6]:
print(myvar["y"])

7

In [7]:
#key &value

In [8]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories)

print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [9]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

myvar = pd.Series(calories, index = ["day1", "day2"])

print(myvar)

day1    420
day2    380
dtype: int64

DataFrames

Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

In [10]:
import pandas as pd

data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

Locate Row

In [14]:
print(myvar.loc[1])

calories    380
duration     40
Name: 1, dtype: int64

Read CSV Files

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df.to_string())

Tip: use to_string() to print the entire DataFrame.

#Read JSON

JSON is plain text, but has the format of an object, and is well known in the world of programming, including Pandas.

In [16]:
#Load a Python Dictionary into a DataFrame:

import pandas as pd

data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

#Viewing the Data

he head() method returns the headers and a specified number of rows, starting from the top.

In [14]:
import pandas as pd

df = pd.read_csv('data.csv')
#10 rowws
print(df.head(10))

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')
#first 5 rows
print(df.head())

 tail() method for viewing the last rows of the DataFrame.

#Pandas - Cleaning Data

Remove Rows

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

new_df = df.dropna()

print(new_df.to_string())
#Note: By default, the dropna() method returns a new DataFrame, and will not change the original.

#Replace Empty Values
The fillna() method allows us to replace empty cells with a value:

In [ ]:
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)
#it will modified the orginal dataset

#Replace Using Mean, Median, or Mode